.nav-bar {
  background-color: rgb(4, 77, 104);
  padding: 10px;
  margin: 10px;
  border:10px solid rgb(255, 255, 255);
}

.page-div {
  background-color: blueviolet;
  padding: 10px;
  margin: 10px;
  border:10px solid rgb(255, 255, 255);

}

.page-div > ul{
  

}
.page-div > ul > li{
  list-style: none;
  background: url('./verify.png') left center no-repeat; 
  padding-left: 40px; 
}

.footer {
  background-color: rgb(206, 10, 245);
  padding: 10px;
  margin: 10px;
  border:10px solid rgb(255, 255, 255);
  position:absolute;
left:0;
bottom:0;
right:0;
}